# This config file is used by ros2_control
/**:
  controller_manager:
    ros__parameters:
      update_rate: 400  # Hz
      joint_state_broadcaster:
        type: joint_state_broadcaster/JointStateBroadcaster
      imu_sensor_broadcaster:
        type: imu_sensor_broadcaster/IMUSensorBroadcaster
      d1h_rl_controller:
        type: rl_controller/RlController

  imu_sensor_broadcaster:
    ros__parameters:
      update_rate: 400  # Hz
      sensor_name: trunk_imu
      frame_id:  trunk_imu

  joint_state_broadcaster:
    ros__parameters:
      update_rate: 400  # Hz

  d1h_rl_controller:
    ros__parameters:
      update_rate: 400  # Hz
      joints:
        - FL_hip_joint
        - FL_thigh_joint
        - FL_calf_joint
        - FL_foot_joint
        - FR_hip_joint
        - FR_thigh_joint
        - FR_calf_joint
        - FR_foot_joint
      command_interfaces:
        - position
        - velocity
        - effort
        - kp
        - kd
      state_interfaces:
        - position
        - velocity
        - effort
      sensors:
        - trunk_imu
      
      # control parameters
      torque_limit: [80.0, 80.0, 80.0, 20.0, 80.0, 80.0, 80.0, 20.0]
      wheel_indices: [3, 7]
      hip_indices: [0, 4]
      locomotion_use_lqr: true # only for 8 dof robot, 

      transform_up:
        # stand_up_policy: "transform_up_rl" # if comment, disable rl transform up policy
        fold_jpos: [0.75, 1.20, -2.7, 0.0, -0.75, 1.2, -2.7, 0.0]
        stand_jpos: [0.2, 1.3, -2.75, 0.0, -0.2, 1.3, -2.75, 0.0]
        fold_timer: 1.0
        stand_timer: 2.0
        # 
        ff_torque: [-10.0, 0.0, -5.0, 0.0, 10.0, 0.0, -5.0, 0.0]
        joint_kp: [160.0, 700.0, 700.0, 5.0, 160.0, 700.0, 700.0, 5.0]
        joint_kd: [8.0, 8.0, 8.0, 0.8, 8.0, 8.0, 8.0, 0.8]
        
      transform_down:
        # policy_name: "transform_down_rl" # if comment, disable rl transform up policy
        fold_jpos: [0.2, 1.3, -2.75, 0.0, -0.2, 1.3, -2.75, 0.0]
        rl_down_timer: 3.0
        fold_timer: 3.0
        joint_kp: [600.0, 80.0, 80.0, 5.0, 600.0, 80.0, 80.0, 5.0]
        joint_kd: [8.0, 8.0, 8.0, 0.2, 8.0, 8.0, 8.0, 0.2]
        
      joint_pd:
        joint_kp: [600.0, 400.0, 400.0, 0.0, 600.0, 400.0, 400.0, 0.0]
        joint_kd: [8.0, 8.0, 8.0, 0.8, 8.0, 8.0, 8.0, 0.8]

      rl_policy_names:
        - "rl_flat"
        - "rl_squatdown"

      rl_flat:
        policy_path: config/d1h/flat.onnx
        output_name: "nn_output"

        # env
        num_obs: 33
        num_actions: 8
        history_len: 10
        observations_name: ["ang_vel", "gravity", "commands", "dof_pos", "dof_vel", "last_actions"]
        commands_name: ["lin_vel_x", "lin_vel_y", "ang_vel_z"]
        commands_scale: [2.0, 2.0, 0.25] # lin_vel_scale, lin_vel_scale, ang_vel_scale
        max_commands: [1.0, 0.8, 1.0]
        min_commands: [-0.5, -0.8, -1.0]
        commands_comp: [0.0, 0.0, 0.0] # direct add offset to command
        # control parameters
        time_interval: 0.01 # forward thread seconds
        default_joint_angles: [0.0, 0.8, -1.5, 0.0, 0.0, 0.8, -1.5, 0.0]
        joint_kp: [40.0, 40.0, 40.0, 10.0, 40.0, 40.0, 40.0, 10.0]
        joint_kd: [1.2, 1.2, 1.2, 0.6, 1.2, 1.2, 1.2, 0.6]

        action_scales: [ 0.25, 0.5, 0.5, 0.5, 0.25, 0.5, 0.5, 0.5 ]

        lin_vel_scale: 2.0
        ang_vel_scale: 0.25
        dof_pos_scale: 1.0
        dof_vel_scale: 0.05

      rl_squatdown:
        policy_path: config/d1h/squatdown.onnx
        output_name: "nn_output"

        # env
        num_obs: 33
        num_actions: 8
        history_len: 10
        observations_name: ["ang_vel", "gravity", "commands", "dof_pos", "dof_vel", "last_actions"]
        commands_name: ["lin_vel_x", "lin_vel_y", "ang_vel_z"]
        commands_scale: [2.0, 2.0, 0.25] # lin_vel_scale, lin_vel_scale, ang_vel_scale
        max_commands: [1.0, 1.0, 1.0]
        min_commands: [-1.0, -1.0, -1.0]
        commands_comp: [0.0, 0.0, 0.0] # direct add offset to command
        # control parameters
        time_interval: 0.01 # forward thread seconds
        default_joint_angles: [0.0, 0.8, -1.5, 0.0, 0.0, 0.8, -1.5, 0.0]
        joint_kp: [40.0, 40.0, 40.0, 10.0, 40.0, 40.0, 40.0, 10.0]
        joint_kd: [1.0, 1.0, 1.0, 0.6, 1.0, 1.0, 1.0, 0.6]

        action_scales: [ 0.25, 0.5, 0.5, 0.5, 0.25, 0.5, 0.5, 0.5 ]

        lin_vel_scale: 2.0
        ang_vel_scale: 0.25
        dof_pos_scale: 1.0
        dof_vel_scale: 0.05

        # Compensation items
        output_torque_scale: 1.0